<title>Tasks</title>

<aside class="right-side">
    <section class="content-header">
        <h1>
            Tasks
            <small>List of all tasks</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/#/workorders/">Workorders</a></li>
            <li><a href="/#/workorders/validate/">Validate</a></li>
            <li><a href="/#/workorders/validate/{{workorderId}}/">Products</a></li>
            <li class="active">Tasks</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header">
                        <div class="pull-right box-tools">
                            <div class="pull-right box-tools">
                            </div>
                        </div>
                        <i class="fa fa-list"></i>
                        <h3 class="box-title">List of tasks</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-success btn-xs" ng-click="accept(true)">Accept</button>
                            <button class="btn btn-danger btn-xs" ng-click="accept(false)">Reject</button>
                        </div>
                    </div>

                    <div class="box-body table-responsive">
                        <table class="table table-hover">
                        	<thead>
                        		<tr>
                                    <th>Task Name</th>
                                    <th>Description</th>
                                    <th></th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr ng-repeat="task in section.tasks">
                                    <td>
                                        {{task.task_name}}
                                    </td>
                                    <td>
                                        {{task.description}}
                                    </td>
                        			<td>
                                        <a href="/#/workorders/validate/{{workorderId}}/{{task.id}}/responses" class="btn btn-xs btn-primary">View responses</a>
                                    </td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>